# =============================================
# Docker ignore — speed up builds
# =============================================
target/
*.class
*.log
.git
.gitignore
node_modules/
*.md
!.mvn/wrapper/maven-wrapper.jar
